memorysetup-main-allocator-block-size=134217728
memorysetup-thread-allocator-block-size=134217728
memorysetup-gfx-main-allocator-block-size=134217728
memorysetup-gfx-thread-allocator-block-size=134217728
memorysetup-temp-allocator-size-main=134217728
memorysetup-temp-allocator-size-job-worker=268435456
