name: Build and Deploy Unity Project for Windows

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    name: Build Project
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
        
      - name: Cache Unity Library
        uses: actions/cache@v2
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-

      - name: Build project
        if: steps.cache.outputs.cache-hit != 'true'
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          allowDirtyBuild: true
          targetPlatform: StandaloneWindows64 
          
      - uses: actions/upload-artifact@v3 
        with:
          name: Build-StandaloneWindows64 
          path: build/StandaloneWindows64
          
  deploy:
    name: Deploy to itch.io
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v3
        with:
          name: Build-StandaloneWindows64

      - name: Set release date
        run: echo "RELEASE_DATE=$(date --rfc-3339=date)" >> $GITHUB_ENV

      - name: Set short hash
        run: echo "SHORT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Deploy to itch.io
        uses: manleydev/butler-publish-itchio-action@master
        with:
          CHANNEL: windows
          butlerCredentials: ${{ secrets.MY_ITCH_API_CODE }}
          game: ${{ secrets.MY_ITCH_GAME }}
          user: ${{ secrets.MY_ITCH_USERNAME }}
          version: ${{ env.RELEASE_DATE }}-${{ env.SHORT_HASH }}
          PACKAGE: build/Build-StandaloneWindows64
