name: Build Unity Project for Windows

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    name: Build Project and Publish to itch.io
    runs-on: ubuntu-latest

    # This stops builds that are in-progress once a new commit comes in
    concurrency:
      group: unity-build
      cancel-in-progress: true

    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          lfs: true
          submodules: recursive
          
      # Cache
      - uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-

      # Build project
      - name: Build project
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: StandaloneWindows
          
      # Set variables for version tagging
      - name: Set release date
        run: echo "RELEASE_DATE=$(date --rfc-3339=date)" >> ${GITHUB_ENV}
      - name: Set short hash
        run: echo "SHORT_HASH=$(git rev-parse --short HEAD)" >> ${GITHUB_ENV}
        
      # Deploy
      - name: Upload build to itch.io
        uses: robpc/itchio-upload-action@v1
        with:
          path: build
          project: ${{ secrets.MY_ITCH_GAME }}
          channel: windows
          api-key: ${{ secrets.MY_ITCH_API_CODE }}
          version: ${{ env.RELEASE_DATE }}-${{ env.SHORT_HASH }}
