name: Build and Deploy Unity Project for Windows

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    name: Build Project
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          lfs: true
          submodules: recursive

      - name: Cache Unity Library
        uses: actions/cache@v2
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-

      - name: Build project
        if: steps.cache.outputs.cache-hit != 'true'
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: StandaloneWindows
          projectPath: .  # Specify the project path if necessary
          buildName: WindowsBuild  # Specify your build name
          buildsPath: ${{ github.workspace }}/Builds
          
      - name: Upload build to artifact
        uses: actions/upload-artifact@v2
        with:
          name: unity-build-artifact
          path: ${{ github.workspace }}/Builds/**/*
          
  deploy:
    name: Deploy to itch.io
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v2
        with:
          name: unity-build-artifact

      - name: Set release date
        run: echo "RELEASE_DATE=$(date --rfc-3339=date)" >> $GITHUB_ENV

      - name: Set short hash
        run: echo "SHORT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Deploy to itch.io
        uses: manleydev/butler-publish-itchio-action@v1.0.3
        with:
          butlerCredentials: ${{ secrets.MY_ITCH_API_CODE }}
          game: ${{ secrets.MY_ITCH_GAME }}
          user: ${{ secrets.MY_ITCH_USERNAME }}
          channel: windows
          directory: .  # Assuming the artifact contains the directory structure as needed for deployment
          version: ${{ env.RELEASE_DATE }}-${{ env.SHORT_HASH }}
